body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background: #667eea;
  color: white;
}

.logo a {
  text-decoration: none;
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.nav {
  display: flex;
  gap: 25px;
  align-items: center;
}

.nav a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.login-btn {
  background: white;
  color: #667eea;
  padding: 8px 15px;
  border-radius: 6px;
}

/* HERO SECTION */
.hero {
  text-align: center;
  padding: 100px 20px;
  background: linear-gradient(to right, #667eea, #764ba2);
  color: white;
}

.hero h1 {
  font-size: 40px;
  margin-bottom: 15px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 30px;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.primary-btn {
  background: white;
  color: #667eea;
  padding: 12px 20px;
  border-radius: 8px;
  text-decoration: none;
}

.secondary-btn {
  border: 2px solid white;
  padding: 12px 20px;
  border-radius: 8px;
  color: white;
  text-decoration: none;
}
.hamburger {
  display: none;
  font-size: 26px;
  cursor: pointer;
}

@media (max-width:768px) {

  .nav {
    position: absolute;
    top: 70px;
    right: 0;
    background: #667eea;
    flex-direction: column;
    width: 200px;
    display: none;
    padding: 20px;
  }

  .nav.active {
    display: flex;
  }

  .hamburger {
    display: block;
  }
}
.hero {
  text-align: center;
  padding: 120px 20px;
  background: linear-gradient(to right,#667eea,#764ba2);
  color: white;
}

.hero h1 {
  font-size: 45px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 20px;
  margin-bottom: 30px;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.primary-btn {
  background: white;
  color: #667eea;
  padding: 12px 25px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
}

.secondary-btn {
  border: 2px solid white;
  padding: 12px 25px;
  border-radius: 8px;
  text-decoration: none;
  color: white;
}
.primary-btn:hover {
  background: #f4f4f4;
  transition: 0.3s;
}

.secondary-btn:hover {
  background: white;
  color: #667eea;
  transition: 0.3s;
}
