body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* NAVBAR */

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  background: #0d1b2a;
  color: white;
}

.logo {
  font-weight: bold;
}

.nav-links a {
  margin-left: 25px;
  text-decoration: none;
  color: white;
}

.login-btn {
  background: #3fa9f5;
  padding: 8px 15px;
  border-radius: 20px;
}

/* HERO */

.hero {
  padding: 60px 40px;
  background: #f4f6f8;
}

/* TEMPLATE CARDS */

.templates-section {
  padding: 40px;
  text-align: center;
}

.card-container {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: 30px;
}

.template-card {
  width: 250px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.template-img {
  height: 120px;
  background: #c9d6df;
  border-radius: 10px;
  margin-bottom: 15px;
}

/* PRICING */

.pricing-section {
  background: #1b263b;
  color: white;
  padding: 60px;
  text-align: center;
}

.pricing-cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 40px;
}

.pricing-card {
  background: white;
  color: black;
  width: 260px;
  padding: 25px;
  border-radius: 10px;
}

.pricing-card.highlight {
  border: 3px solid #3fa9f5;
}

.pricing-card ul {
  text-align: left;
}

.pricing-card button {
  margin-top: 20px;
  padding: 10px;
  width: 100%;
  border: none;
  background: #3fa9f5;
  color: white;
  border-radius: 5px;
}
