.login-container {
  display: flex;
  height: 100vh;
  font-family: Arial;
}

/* LEFT SIDE */
.login-left {
  flex: 1;
  background: linear-gradient(135deg,#5f72be,#9921e8);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* RIGHT SIDE */
.login-right {
  flex: 1;
  background: #1e1e2f;
  color: white;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-right input {
  margin-top: 15px;
  padding: 14px;
  border-radius: 8px;
  border: none;
  background: #2a2a40;
  color: white;
}

.login-right button {
  margin-top: 20px;
  padding: 14px;
  background: #7b61ff;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

.login-right span {
  color: #7b61ff;
  cursor: pointer;
}
